<div class="center jumbotron darkBlue">
  <h1>Welcome to GlobeWise App</h1>
  
  <h2>
    This is the homepage for the brand new GlobeWise event-driven social-networking site
  </h2>
  
  <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success first" %>
</div>
<div class="row center">
  <div class="col-lg-4">
    <h3 class="midrow">
      View events as Guest User
    </h3>
    <h2 class="center">Browse and view events as a guest and Sign up later</h2>
    <p><%= link_to "Browse event locations", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View events as Guest User
    </h3>
    <h2 class="center">Browse and view events as a guest and Sign up later</h2>
    <p><%= link_to "Browse event locations", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View events as Guest User
    </h3>
    <h2 class="center">Browse and view events as a guest and Sign up later</h2>
    <p><%= link_to "Browse event locations", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>

